<section class="container">
    <form class="form">
      <img class="img" src="../../assets/img/logotipo-3A-Digitall.png" alt="Logo 3ADigitall">
      <div class="form-label">
        <label class="form-text">Usuário</label>
      </div>
      <div>
        <input class="form-input" type="text" placeholder="Digite usuário">
      </div>
      <div class="form-label">
        <label class="form-text">E-mail</label>
      </div>
      <div>
        <input class="form-input" type="email" placeholder="Digite e-mail">
      </div>
      <div class="form-label">
        <label class="form-text">Senha</label>
      </div>
      <div>
        <input class="form-input" type="text" placeholder="Digite senha">
      </div>
      <div class="form-label">
        <label class="form-text">Confirmar Senha</label>
      </div>
      <div>
        <input class="form-input" type="password" placeholder="Confirmar senha">
      </div>
      <button class="btn-cadastro" type="submit" routerLink="/home" >Cadastro</button>
    </form>
  </section>
  
