<section class="container">
  <form class="form">
    <img class="img" src="../../assets/img/logotipo-3A-Digitall.png" alt="Logo 3ADigitall">
    <div class="form-label">
      <label class="form-text">Usuário</label>
    </div>
    <div>
      <input class="form-input" type="text" placeholder="Digite usuário">
    </div>
    <div class="form-label">
      <label class="form-text">Senha</label>
    </div>
    <div>
      <input class="form-input" type="text" placeholder="Digite senha">
    </div>
    <a class="esqueci-senha" routerLink="/esqueciSenha">Esqueci senha</a>
    <button class="btn-login" type="submit" routerLink="/home">Login</button>
    <h2 class="h2">Ainda não possui conta?<button class="btn-cadastro" type="submit"
        routerLink="/cadastro">Cadastre-se</button></h2>
  </form>
</section>
