header {
    width: 100%;
    height: 30px;
    background-color: #0052c8;
}
.header {
    color: #fff;
    text-decoration: none;
    padding: 6px;
    display: inline-block;
    align-items: center;
}